### Config required for EC2, S3 & SQS
### Please change the id and key as appropriate
id="XXXXXXXXXXXXXXXXXXXX"
key="YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
dbg=false
region=AWS.US_WEST_2

### Config related to EC2 only
const ami = "ami-0d848f64" # This is the Julia installed version of 13_04
const dir_on_ami = "/home/ubuntu/julia/usr/bin"
const insttype = "m1.large"
const keyname = "<put ec2keyname here>"
const owner = "awstest"
const keyfile = "<put full path to ec2keyfile here>"


### Config related to SQS only
### Please change the AWS account id as appropriate
awsAccountID="111111111111"
