language: julia
os:
  - linux
  - osx
  - windows
julia:
  - 1.0
  - 1
  - nightly
matrix:
  allow_failures:
  - julia: nightly
branches:
  only:
  - master
  - staging
  - trying
  - "/^v[0-9]+\\.[0-9]+\\.[0-9]+$/"
notifications:
  email: false
env:
  global:
  - secure: WSxLih2Ea/CLUGYdqgXaywE1TdXRVU4Tex5cYTa9aO6N3XqStzbh2/JddJaqMdQlln7RR7JMZdSQVedMN9u5kNbpyFSyz9sOFvB/qGv+mq6DZv9WI1ovuOyNbcIyw32BizwQP5KhzEKy9euL+sOOJaG4Y7q6EBKz3gEe85UOlSM7KYEAc/whYeGN05R6sE6wGfz6WKgwXtxoPuy84UBlJw+ZYr6I1Z93REDER4WKooVtBShVtVOvLbY8l8WlySyHB5s/55rTbyvpK/EiS5ma/vqPjX8Ism//RoOhvlv9JyfNJ97iDqm502S3U6XgdunfH8hbICZ7yh2JjR301NvGM0jYS3z7XfAZSYcov6Tyt83C9lQQ44v8ButefmIufz1QgQBVfGJkE0UYTRn5uIZjV0lGrahZaVbIAcdiuar04E63soXRAlwVS3yf7TgOPTzRxB3yoJerF+SZIR1ZeNH+Ohv6fyC6og2fbl7GjIiH2OD4jlXFdmg8Yfnjz5cd7dTS7tLSfdA9V2Y1OKP+qGJ5HLbi+t0MwsgMcSGTTZqoPBKBLVSwq8BAm9wvwiJqjhbsc+Hyzf28DuO9eugcBBsE80/DlUho4Ieql0B0RFTRJiTlQKSCBcC0UCsi5SrKRO6PqFUXIPw8EsLyqG/A2WDV4U7jC55UgBLgTJzFSy6YMe0=
  - secure: RGgf+7tmlOPJnl7PJnFZYMcJQwbXVz9nEcqj7HJNLYT5UPqqQheFhJGooDkRwNQIatRCzUe2QfR28HoDR/f0lemd6BULu6y5d9sekLuElJbdb3PRuJBL8BOpF0Gn1QaQfqVvsUoTYPGsO653kiiX81DPK7RbQvefGNK3QYtWatFAF+RyzgKw/ygsZ1Dndqh0EOho58J/9kQUqXTOcBuHSAtxxAfO4MQVN6tr0j562f2KJDsu59b6mAWwzfDDRVjSvv89jmFBBXqH2e437YpAUHNlKVsFnYDFA2SuNIFU0SoObmi/UuCsb+TZX5vSoGzebp8pT5CZocX4PCHQA9wJVVeBJTUMEC+XrpHzqynN+apTrSwOfcks9EFXgz968wHdvP4RLlJbiGH1VOTLqL7P2mfdd/l2OZfUmdy/PTVQdEZWU+uLNbcLLz2NbiI3gJW47bEpcz1EYMCivOxQGZVemHJicN4MqNqpEMlXpG0wobrC06wzwkYRzAnAERrUZJoEdgIDECbx9lpA7SgCpxXWrxmpJktMDyX67P8qrqU+gWg3XdCaJqU8E6H2p8ze666UVql2BrQ1CSvdaC6iK0BkxLt6whrZKlMPgbYwOdKIwzBSHxdIsjAOKvvXpaqlLrucVW98900VcDR/rLX/rL4NAYN4COXweNWIpm6lug5YD0U=
