# "ami-ab8190c2" is a Julia pre-installed public AMI 
# "ami-7bccd012" is a bare Ubuntu image. The latest Julia and its dependencies 
# will be installed.

const PVM_AMI_UBUNTU_1310_US_EAST = "ami-7bccd012"
const HVM_AMI_UBUNTU_1310_US_EAST = "ami-73ccd01a"

ec2_ami = PVM_AMI_UBUNTU_1310_US_EAST
ec2_install_julia = true
ec2_sshkey = "juec2key"
ec2_sshkey_file = "/home/username/keys/juec2key.pem"
ec2_insttype = "m3.medium"
ec2_instnum = 1
ec2_workers_per_instance = 0
ec2_num_workers = 2
ec2_julia_dir = "/home/ubuntu/julia/usr/bin" 
ec2_clustername = "mycluster"

