name: AWS
on:
  schedule:
    - cron: '0 6 * * *'  # Daily at 6 a.m. UTC

jobs:
  AWS:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1]
        julia-arch: [x86]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - name: UpdateAPI
        # Run against the latest version, since everything merged into master will be tagged.
        run: julia --threads=auto --project -e 'using AWS; AWS.AWSMetadata.parse_aws_metadata();'
        env:
          GITHUB_AUTH: ${{ secrets.GITHUB_TOKEN }}
      - name: FormatCode
        run: |
          julia -e 'using Pkg; Pkg.add("JuliaFormatter")'
          julia -e 'using JuliaFormatter; format(".", BlueStyle(); verbose=true)'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: AWS API Definitions Updated
          reviewers: mattBrzezinski
          title: AWS API Definitions Updated
          token: ${{ secrets.GITHUB_TOKEN }}
